.container-grid {
  display: grid;
  grid-template-columns: 100px 500px; /*columns widths*/
  height: 50px;
}

.col-1 {
  background-color: inherit;
}

.col-2 {
  background-color: inherit;
}

.fade-in {
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

